body{
	padding: 0;
	margin: 0;
}
.wrap{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}
.login-form{
	height: auto;
	border-radius: 3vh;
	text-align: center;
	background: white;
	padding: 3vh;
	width: 20%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form{
	padding: 2vh;
	background: white;
	display: flex;
	flex-direction: column;
}
form input{
	padding: 1.5vh 1vw;
	border: 1px solid #eeeeee;
	border-radius: 1vh;
	margin-top: 1vh;
}
form input:focus{
	outline: none;
	border-color: black;
}