@font-face{
	font-family: Lato;
	src: url('Lato.ttf');
}
*{
	transition: .3s;
	font-family: Lato;
}
body{
	margin: 0;
	padding: 0;
	background: whitesmoke;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: 8vw;
	height: 96vh;
	padding: 2vh 1vw;
}
.sidemenu{
	background: white;
	border-radius: 2vh;
	width: 98%;
	height: 98%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 2% 1%;
	text-align: center;
}
.sidemenu img{
	width: 60%;
	padding-top: 5vh;
}
.sidemenu ul{
	list-style: none;
	padding: 0;
	padding-top: 5vh;
}
.sidemenu li{
	font-size: 3vh;
	margin-bottom: 3vw;
}
.sidemenu a{
	text-decoration: none;
	color: black;
	padding: 1vw;
	border-radius: 2.5vh;
}
.sidemenu a:hover{
	background: whitesmoke;
}

.content{
	width: 84vw;
	height: 96vh;
	background: whitesmoke;
	padding: 2vh 2vw;
	padding-left: 12vw;
}
.navbar{
	text-align: right;
}
.navbar form{
	position: absolute;
	background: white;
	padding: 0 1vw;
	border-radius: 2vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar input{
	background: transparent;
	padding: 1.5vh 1vh;
	border: none;
}
.navbar input:focus{
	outline: none;
}
.navbar button{
	padding: 1vh 1.5vh;
	border: none;
	background: transparent;
	cursor: pointer;
}
.navbar a{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	text-decoration: none;
	color: black;
	background: white;
	padding: 1.5vh 1.1vw;
	border-radius: 2vh;
	display: block;
	width: 1%;
	float: right;
	margin-left: 1vw;
}
.navbar a:hover{
	background: whitesmoke;
}


.orders-board{
	margin-top: 8vh;
	padding-bottom: 4vh;
}
.order-table{
	width: 100%;
	text-align: center;
	border-spacing: 0 1vh;
}
.order-table-head{
	border-radius: 2vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: initial !important;
}
.order-table-head td{
	background: white;
}
.order-table td{
	padding: 2vh 0;
}
.order-table tr{
	margin-top: 2vh;
	border-radius: 2vh;
	cursor: pointer;
}
.order-table tr:hover{
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.order-table tr:hover td{
	background: white;
}
.order-table tr td:first-child{
	border-radius: 2vh 0 0 2vh;
}
.order-table tr td:last-child{
	border-radius: 0 2vh 2vh 0;
}


.pagination{
	margin-top: 3vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vh;
}
.pagination label{
	font-size: 2vh;
	margin: 0 2vw;
}
.pagination button{
	border: none;
	border-radius: 1vh;
	padding: 1vh 1vw;
	cursor: pointer;
}


.board{
	margin-top: 8vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;
	padding-bottom: 4vh;
}
.loader{
	position: absolute;
	z-index: 99999;
	width: 84vw;
	height: 86vh;
	align-items: center;
	justify-content: center;
	display: none;
}
.loader img{
	width: 5%;
}
.order{
	background: transparent;
}
.order img{
	width: 100%;
	border-radius: 2vh;
	margin-bottom: 3vh;
}
.order strong{
	font-size: 3vh;
}
.order-body{
	border-radius: 2vh;
	padding: 2vh;
	background: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.order-body button{
	background: white;
	border: 1px solid #eeeeee;
	border-radius: 1vh;
	padding: 1vh 1vw;
	font-size: 2.5vh;
	cursor: pointer;
	float: right;
}
.order-actions{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2vh;
	margin-top: 2vh;
	padding: 2vh;
	background: white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 2vh;
}
.order-actions a{
	padding: 1.5vh;
	text-align: center;
	display: block;
	text-decoration: none;
	color: black;
	border-radius: 1.5vh;
	background: whitesmoke;
}
.order-actions a:hover{
	background: lightgrey;
}
.available-True{
	color: darkgreen !important;
}
.available-False{
	color: darkred !important;
}


.panel-item-action{
	text-decoration: none;
	color: black;
	background: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5vh;
	padding: 1.5vh 0;
	margin-top: 4vh;
}
.panel-item-action:hover{
	background: lightgrey;
}


.users-board{
	width: 100%;
	display: flex;
	grid-column: span 4;
}

.filters{
	grid-column: span 2;
	display: flex;
	gap: 2vw;
	align-items: center;
	border-radius: 1.5vh;
	background: white;
	padding: 1.5vh 2vw;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.filters select{
	background: none;
	border: none;
	cursor: pointer;
}
.filters button{
	border: 1px solid #eeeeee;
	background: white;
	padding: 1vh 1vw;
	border-radius: 1vh;
	cursor: pointer;
}

#call-form-button{
	position: fixed;
	bottom: 4vh;
	right: 3vw;
	border-radius: 10vh;
	border: none;
	padding: 2vh 2.5vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: white;
	cursor: pointer;
}
#call-form-button:hover{
	background: lightgrey;
}

.add-form{
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	display: none;
	opacity: 0;
	transition: 1s;
}
.add-form-cover{
	width: 100%;
	height: 100%;
	position: fixed;
	background: black;
	opacity: 0.1;
}
.add-product-form{
	width: 60%;
	padding: 4vh 3vw;
	background: white;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2vw;
	border-radius: 3vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.view-order-panel{
	width: 50%;
	padding: 4vh 3vw;
	background: white;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2vw;
	border-radius: 3vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.add-category-form{
	width: 20%;
	padding: 4vh 3vw;
	background: white;
	position: relative;
	border-radius: 3vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.add-branch-form{
	width: 60%;
	padding: 4vh 3vw;
	background: white;
	position: relative;
	border-radius: 3vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2vw;
}
.add-form-section{
	display: flex;
	flex-direction: column;
}
.add-form-section table{
	border-spacing: 0 4vh;
	font-size: 1.8vh;
}
.add-form label{
	margin-top: 2vh;
}
.add-form input{
	padding: 1.5vh 1vw;
	margin-top: 2vh;
	border: 1px solid #eeeeee;
	border-radius: 1.5vh;
}
.add-form input:focus{
	outline: none;
	border-color: grey;
}
.add-form textarea{
	padding: 1.5vh 1vw;
	margin-top: 2vh;
	border: 1px solid #eeeeee;
	border-radius: 1.5vh;
}
.add-form textarea:focus{
	outline: none;
	border-color: grey;
}
.add-form select{
	padding: 1.5vh 1vw;
	margin-top: 2vh;
	border: 1px solid #eeeeee;
	border-radius: 1.5vh;
	cursor: pointer;
	width: 100%;
}
.add-form button{
	border: none;
	padding: 1.5vh;
	border-radius: 1.5vh;
	cursor: pointer;
	margin-top: 2vh;
}
.add-form-user-roles{
	margin: 1vh 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 1vh;
	grid-column-gap: 1vw;
}
.add-form-user-roles small{
	padding: .5vh;
	border-radius: 10vh;
	background: #eeeeee;
	cursor: pointer;
	text-align: center;
}
.order-manage{
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.order-manage select{
	width: 50%;
}

.order-status-color-ORDERED{
	color: darkorange;
}
.order-status-color-DELIVER{
	color: darkcyan;
}
.order-status-color-CANCELLED{
	color: red;
}
.order-status-color-PREPARE{
	color: deepskyblue;
}
.order-status-color-SUCCESS{
	color: darkgreen;
}

.add-form-order-split{
	display: flex;
	gap: 1vh;
}
.add-form-order-split select{
	flex: 10;
}
.add-form-order-split input{
	flex: 1;
	width: 4vw;
}
.subcategories{
	width: 60%;
	background: white;
	padding: 4vh 3vw;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	position: relative;
	text-align: center;
	border-radius: 2vh;
}
.subcategories table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 1vh 3vh;
	text-align: center;
}
.subcategories a{
	text-decoration: none;
	color: black;
	padding: 1vh 2vw;
	border-radius: 1vh;
	border: 1px solid #eeeeee;
	margin-left: 2vw;
}
#parent{
	display: none;
}
#loading{
	display: none;
}

#change-password form{
	position: relative;
	background: white;
	width: 20%;
	display: flex;
	flex-direction: column;
	border-radius: 2vh;
	padding: 4vh 3vw;
	font-size: 2vh;
}

.advert-form{
	width: 70% !important;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 4vw;
	text-align: justify;
}
.advert-form img{
	width: 100%;
	border-radius: 2vh;
	margin-top: 2vh;
}
.advert-form-add{
	width: 70% !important;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 4vw;
}
.advert-form-add textarea{
	font-size: 1.8vh;
}