{% extends 'home.html' %}
{% load static %}
{% load filters %}
{% block content %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<form action="" method="post" class="add-category-form">
				<div class="add-form-section">
					<label for="#price"><small>Price</small></label>
					<input required type="text" id="price" name="price" placeholder="0">
					<label for="#payment"><small>Payment</small></label>
					<input required type="text" name="payment" id="payment" placeholder="0">
					<button type="submit">Save</button>
					{% csrf_token %}
				</div>
			</form>
		</div>

		<button id="call-form-button" data-link="{% url 'add_fee' %}"><i class="fas fa-plus"></i></button>

		<div class="wrap">
			<div class="sidebar">
				<div class="sidemenu">
					<img src="{% static 'moti.svg' %}" alt="logo">
					<ul>
						<li><a href="{% url 'home' %}"><i class="fal fa-home"></i></a></li>
						{% if 'ADMIN' in request.session.roles %}
						<li><a href="{% url 'products' %}"><i class="fal fa-cart-shopping"></i></a></li>
						<li><a href="{% url 'categories' %}"><i class="fal fa-list-timeline"></i></a></li>
						<li><a href="{% url 'fees' %}"><i class="fal fa-road"></i></a></li>
						{% endif %}
						{% if 'MANAGER' in request.session.roles %}
						<li><a href="{% url 'users' %}"><i class="fal fa-users"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="navbar">
					<form action="">
						<input type="text" placeholder="Search">
						<button><i class="fal fa-search"></i></button>
					</form>
					<a href="{% url 'logout' %}"><i class="fal fa-arrow-right-from-bracket"></i></a>
				</div>
				<div class="board">
					<div class="users-board">
						<table class="order-table" border="0" cellspacing="0">
							<tr class="order-table-head">
								<td>ID</td>
								<td>Price</td>
								<td>Payment</td>
							</tr>
							{% if fees %}
								{% for fee in fees %}
									<tr onclick="feeCard(this)">
										<td><small class="fee-id">{{fee.id}}</small></td>
										<td><small class="fee-price">{{fee.price}}</small></td>
										<td><small class="fee-payment">{{fee.deliveryPayment}}</small></td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<p><small>No fees are available</small></p>
								</tr>
							{% endif %}
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="{% static 'users.js' %}"></script>
{% endblock %}