<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moti Control Panel</title>

	{% load filters %}
	{% load static %}
	<link rel="icon" href="{% static 'moti.svg' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<link href="https://kit-pro.fontawesome.com/releases/v6.2.0/css/pro.min.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
</head>
<body>
	{% block content %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<div class="add-product-form">
				<div class="add-form-section">
					<table>
						<tr>
							<td><strong>Phone:</strong></td>
							<td id="order-view-phone"></td>
						</tr>
						<tr>
							<td><strong>Price:</strong></td>
							<td id="order-view-price"></td>
						</tr>
						<tr>
							<td><strong>Status:</strong></td>
							<td id="order-view-status"></td>
						</tr>
						<tr>
							<td><strong>Type:</strong></td>
							<td id="order-view-type"></td>
						</tr>
						<tr>
							<td><strong>Order:</strong></td>
							<td id="order-view-order"></td>
						</tr>
					</table>
				</div>
				<div class="add-form-section">
					<table>
						<tr>
							<td><strong>Date:</strong></td>
							<td id="order-view-date"></td>
						</tr>
						<tr>
							<td><strong>Delivery:</strong></td>
							<td id="order-view-delivery"></td>
						</tr>
						<tr>
							<td><strong>Address:</strong></td>
							<td id="order-view-address"></td>
						</tr>
						<tr>
							<td><strong>Pay Method:</strong></td>
							<td id="order-view-pay"></td>
						</tr>
						<tr>
							<td><strong>Comment:</strong></td>
							<td id="order-view-comment"></td>
						</tr>
					</table>
				</div>
				<div class="add-form-section">
					<table>
						<tr>
							<td><canvas id="qr"></canvas></td>
						</tr>
					</table>
				</div>
				<div class="order-manage">
					<a class="order-manage-buttons" id="order-cancel-button"><small><i class="fal fa-trash"></i>&ensp;Cancel</small></a>
					<a class="order-manage-buttons" id="order-deliver-button"><small><i class="fal fa-moped"></i>&ensp;Deliver</small></a>
				</div>
			</div>
		</div>

		<div class="add-form" id="create-form">
			<div class="add-form-cover"></div>
			<form class="add-product-form" method="post" action="{% url 'create_order' %}">
				<div class="add-form-section">
					<label for="#address"><small>Address</small></label>
					<select name="address" id="address">
						<option value="1">Address</option>
					</select>
					<label for="#branch"><small>Branch</small></label>
					<select name="branch" id="branch">
						{% for branch in branches %}
							<option value="{{branch.id}}">{{branch.information}}</option>
						{% endfor %}
					</select>
					<label for="#order-type"><small>Order Type</small></label>
					<select name="order-type" id="order-type">
						<option value="DELIVERY">DELIVERY</option>
						<option value="PICKUP ">PICKUP </option>
					</select>
					<label for="#payment"><small>Payment</small></label>
					<select name="payment" id="payment">
						<option value="PAYME">PAYME</option>
						<option value="APELSIN">APELSIN</option>
						<option value="CASH">CASH</option>
						<option value="CLICK">CLICK</option>
						<option value="TERMINAL">TERMINAL</option>
					</select>
				</div>
				<div class="add-form-section">
					<label for="#delivery"><small>Delivery Time</small></label>
					<input type="text" name="delivery" id="delivery" placeholder="00:00">
					<label for="#distance"><small>Distance</small></label>
					<input type="number" name="distance" id="distance" placeholder="0">
					<label for="#comment"><small>Comment</small></label>
					<input type="text" name="comment" id="comment" placeholder="Comment">
				</div>
				<div class="add-form-section">
					<label for="#product"><small>Order</small></label>
					<div class="add-form-order-split">
						<select id="product">
							{% for product in products %}
								<option value="{{product.productName.eng.text}}-{{product.id}}">{{product.productName.eng.text}}</option>
							{% endfor %}
						</select>
						<input type="number" id="amount" placeholder="0">
					</div>
					<button type="button" onclick="addProduct()"><small>Add</small></button>
					<button type="button" onclick="clearProducts()"><small>Clear</small></button>
					<input type="hidden" id="orders" name="orders">
					<ul id="add-form-section-order-list"></ul>
				</div>
				<div class="order-manage">
					<button onclick="submitOrder()"><small>Create</small></button>
				</div>
				{% csrf_token %}
			</form>
		</div>
		<button id="call-form-button" onclick="callForm()"><i class="fas fa-plus"></i></button>
		<div class="wrap">
			<div class="sidebar">
				<div class="sidemenu">
					<img src="{% static 'moti.svg' %}" alt="logo">
					<ul>
						<li><a href="{% url 'home' %}"><i class="fal fa-home"></i></a></li>
						{% if 'ADMIN' in request.session.roles %}
						<li><a href="{% url 'products' %}"><i class="fal fa-cart-shopping"></i></a></li>
						<li><a href="{% url 'categories' %}"><i class="fal fa-list-timeline"></i></a></li>
						<li><a href="{% url 'fees' %}"><i class="fal fa-road"></i></a></li>
						<li><a href="{% url 'branches' %}"><i class="fal fa-shop"></i></a></li>
						{% endif %}
						{% if 'MANAGER' in request.session.roles %}
						<li><a href="{% url 'users' %}"><i class="fal fa-users"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="navbar">
					<form action="">
						<input type="text" placeholder="Search">
						<button><i class="fal fa-search"></i></button>
					</form>
					<a href="{% url 'logout' %}"><i class="fal fa-arrow-right-from-bracket"></i></a>
				</div>
				<div class="orders-board">
					<form action="{% url 'filter' %}" class="filters" method="get">
						<i class="fal fa-filter-list"></i>
						<select id="filter-order-type" name="order-type">
							<option value="{{type}}">{{type}}</option>
							<option value="DELIVERY">DELIVERY</option>
							<option value="PICKUP ">PICKUP </option>
						</select>
						<select id="filter-payment-type" name="payment">
							<option value="{{payment}}">{{payment}}</option>
							<option value="PAYME">PAYME</option>
							<option value="APELSIN">APELSIN</option>
							<option value="CASH">CASH</option>
							<option value="CLICK">CLICK</option>
							<option value="TERMINAL">TERMINAL</option>
						</select>
						<button type="submit">Apply</button>
					</form>
					<div class="loader">
						<img src="{% static 'spinner.svg' %}">
					</div>
					<table class="order-table" border="0" cellspacing="0">
						<tr class="order-table-head">
							<td>Phone</td>
							<td>Name</td>
							<td>ID</td>
							<td>Price</td>
							<td>Status</td>
							<td>Date</td>
							<td>Delivery</td>
						</tr>
						{% if orders %}
							{% for order in orders %}
								<tr onclick="showOrder({{order|safeorder}})">
									<td><small>{{order.user}}</small></td>
									<td><small>{{order.user}}</small></td>
									<td><small>{{order.id}}</small></td>
									<td><small>{{order.price}}</small></td>
									<td><small class="order-status-color-{{order.status}}">{{order.status}}</small></td>
									<td><small>{{order.creationTime | todate}}</small></td>
									<td><small>{{order.deliveryTime}}</small></td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<p><small>No orders are available</small></p>
							</tr>
						{% endif %}
					</table>
				</div>
			</div>
		</div>
		<script src="{% static 'orders.js' %}"></script>
	{% endblock %}
</body>
</html>