<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Moti Control Panel</title>

	{% load filters %}
	{% load static %}
	<link rel="icon" href="{% static 'moti.svg' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'charts.css' %}">

	<link href="https://kit-pro.fontawesome.com/releases/v6.2.0/css/pro.min.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
	<div class="add-form" id="change-password">
		<div class="add-form-cover"></div>
		<form action="{% url 'change_password' %}" method="post">
			<label for="old-password"><small>Старый пароль</small></label>
			<input required type="password" id="old-password" name="old">
			<label for="new-password"><small>Новый пароль</small></label>
			<input required type="password" id="new-password" name="new">
			{% csrf_token %}
			<button><small>Сохранить</small></button>
		</form>
	</div>
	{% block content %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<div class="view-order-panel">
				<div class="add-form-section">
					<table>
						<tr>
							<td><strong>Телефон:</strong></td>
							<td id="order-view-phone"></td>
						</tr>
						<tr>
							<td><strong>Цена:</strong></td>
							<td id="order-view-price"></td>
						</tr>
						<tr>
							<td><strong>Статус:</strong></td>
							<td id="order-view-status"></td>
						</tr>
						<tr>
							<td><strong>Тип:</strong></td>
							<td id="order-view-type"></td>
						</tr>
						<tr>
							<td><strong>Заказ:</strong></td>
							<td id="order-view-order"></td>
						</tr>
					</table>
				</div>
				<div class="add-form-section">
					<table>
						<tr>
							<td><strong>Дата:</strong></td>
							<td id="order-view-date"></td>
						</tr>
						<tr>
							<td><strong>Доставка:</strong></td>
							<td id="order-view-delivery"></td>
						</tr>
						<tr>
							<td><strong>Адрес:</strong></td>
							<td id="order-view-address"></td>
						</tr>
						<tr>
							<td><strong>Способ оплаты:</strong></td>
							<td id="order-view-pay"></td>
						</tr>
						<tr>
							<td><strong>Комментарий:</strong></td>
							<td id="order-view-comment"></td>
						</tr>
					</table>
				</div>
				<div class="order-manage">
					<select id="status-changer" name="status" onchange="changeStatus(this)">
						<option value="PREPARE">PREPARE</option>
						<option value="DELIVER">DELIVER</option>
						<option value="SUCCESS">SUCCESS</option>
						<option value="ORDERED">ORDERED</option>
						<option value="CANCELLED">CANCELLED</option>
					</select>
				</div>
			</div>
		</div>

		<!-- <div class="add-form" id="create-form">
			<div class="add-form-cover"></div>
			<form class="add-product-form" method="post" action="">
				<div class="add-form-section">
					<label for="#address"><small>Address</small></label>
					<select name="address" id="address">
						<option value="2">Address</option>
					</select>
					<label for="#branch"><small>Branch</small></label>
					<select name="branch" id="branch"></select>
					<label for="#order-type"><small>Order Type</small></label>
					<select name="order-type" id="order-type">
						<option value="DELIVERY">DELIVERY</option>
						<option value="PICKUP ">PICKUP </option>
					</select>
					<label for="#payment"><small>Payment</small></label>
					<select name="payment" id="payment">
						<option value="PAYME">PAYME</option>
						<option value="APELSIN">APELSIN</option>
						<option value="CASH">CASH</option>
						<option value="CLICK">CLICK</option>
						<option value="TERMINAL">TERMINAL</option>
					</select>
				</div>
				<div class="add-form-section">
					<label for="#delivery"><small>Delivery Time</small></label>
					<input type="text" name="delivery" id="delivery" placeholder="00:00">
					<label for="#distance"><small>Distance</small></label>
					<input type="number" name="distance" id="distance" placeholder="0">
					<label for="#comment"><small>Comment</small></label>
					<input type="text" name="comment" id="comment" placeholder="Comment">
				</div>
				<div class="add-form-section">
					<label for="#product"><small>Order</small></label>
					<div class="add-form-order-split">
						<select id="product"></select>
						<input type="number" id="amount" placeholder="0">
					</div>
					<button type="button" onclick="addProduct()"><small>Add</small></button>
					<button type="button" onclick="clearProducts()"><small>Clear</small></button>
					<input type="hidden" id="orders" name="orders">
					<ul id="add-form-section-order-list"></ul>
				</div>
				<div class="order-manage">
					<button onclick="submitOrder()"><small>Create</small></button>
				</div>
			</form>
		</div> -->
		<div class="wrap">
			<div class="sidebar">
				<div class="sidemenu">
					<img src="{% static 'moti.svg' %}" alt="logo">
					<ul>
						<li><a href="{% url 'home' %}"><i class="fal fa-home"></i></a></li>
						{% if 'MANAGER' in request.session.roles %}
						<li><a href="{% url 'charts' %}"><i class="fal fa-chart-line-up"></i></a></li>
						<li><a href="{% url 'products' %}"><i class="fal fa-cart-shopping"></i></a></li>
						<li><a href="{% url 'categories' %}"><i class="fal fa-list-timeline"></i></a></li>
						<li><a href="{% url 'fees' %}"><i class="fal fa-road"></i></a></li>
						<li><a href="{% url 'branches' %}"><i class="fal fa-shop"></i></a></li>
						<li><a href="{% url 'adverts' %}"><i class="fal fa-rectangle-ad"></i></a></li>
						<li><a href="{% url 'users' %}"><i class="fal fa-users"></i></a></li>
						{% endif %}
						{% if 'OPERATOR' in request.session.roles %}
						<li><a href="javascript:" onclick="showChangePassword()" id="initiator"><i class="fal fa-lock"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="navbar">
					<form action="">
						<input type="text" placeholder="Поиск">
						<button><i class="fal fa-search"></i></button>
					</form>
					<a href="{% url 'logout' %}"><i class="fal fa-arrow-right-from-bracket"></i></a>
					{% if 'MANAGER' in request.session.roles %}
					<a href="javascript:" onclick="showChangePassword()" id="initiator"><i class="fal fa-lock"></i></a>
					{% endif %}
				</div>
				<div class="orders-board">
					<form class="filters">
						<i class="fal fa-filter-list"></i>
						<select id="filter-order-type" name="order-type">
							<option>-</option>
							<option>DELIVERY</option>
							<option value="DELIVERY">DELIVERY</option>
							<option value="PICKUP ">PICKUP </option>
						</select>
						<select id="filter-payment-type" name="payment">
							<option>-</option>
							<option value="PAYME">PAYME</option>
							<option value="APELSIN">APELSIN</option>
							<option value="CASH">CASH</option>
							<option value="CLICK">CLICK</option>
							<option value="TERMINAL">TERMINAL</option>
						</select>
						<select id="filter-order-status" name="order-status">
							<option>-</option>
							<option value="CANCELLED">CANCELLED</option>
							<option value="DELIVER">DELIVER</option>
							<option value="ORDERED">ORDERED</option>
							<option value="PREPARE">PREPARE</option>
							<option value="SUCCESS">SUCCESS</option>
						</select>
						<button type="button" onclick="segregate('{{request.session.token}}')">Применить</button>
					</form>
					<div class="loader">
						<img src="{% static 'spinner.svg' %}">
					</div>
					<table class="order-table" border="0" cellspacing="0">
						<data style="display: none;" id="pagination-page" data-page="0"></data>
						<tbody>
							<tr class="order-table-head">
								<td>ID</td>
								<td>Телефон</td>
								<td>Оплачено</td>
								<td>Цена</td>
								<td>Статус</td>
								<td>Дата</td>
								<td>Доставка</td>
								<td>Способ оплаты</td>
							</tr>
							{% if orders %}
								{% for order in orders %}
									<tr onclick="showOrder({{order|safeorder}})" class="order-table-row">
										<td><small>{{order.id}}</small></td>
										<td><small>{{order.user}}</small></td>
										<td><small class="available-{{order.paid}}">{{order.paid | paid}}</small></td>
										<td><small>{{order.price}}</small></td>
										<td><small class="order-status-color-{{order.status}}">{{order.status}}</small></td>
										<td><small>{{order.creationTime | todate}}</small></td>
										<td><small>{{order.deliveryTime | delivery}}</small></td>
										<td><small>{{order.paymentMethod}}</small></td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<p><small>Нет доступных заказов</small></p>
								</tr>
							{% endif %}
						</tbody>
					</table>
					<div class="pagination">
						<button onclick="changePage('prev', '{{request.session.token}}')"><i class="fal fa-chevron-left"></i></button>
						<label><small id="page-number">1</small></label>
						<button onclick="changePage('next', '{{request.session.token}}')"><i class="fal fa-chevron-right"></i></button>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'orders.js' %}"></script>
		<script src="{% static 'ajax.js' %}"></script>
	{% endblock %}
	<script src="{% static 'general.js' %}"></script>
</body>
</html>