{% extends 'home.html' %}
{% load static %}
{% load filters %}
{% block content %}
	{% if show_add_product %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<form action="{% url 'add_product' %}" method="post" class="add-product-form" enctype="multipart/form-data">
				<div class="add-form-section">
					<label for="name"><small>Имя продукта</small></label>
					<input required type="text" id="name" name="name_uz" placeholder="Uzbek">
					<input required type="text" name="name_ru" placeholder="Russian">
					<input required type="text" name="name_en" placeholder="English">
					<label for="code"><small>Код</small></label>
					<input required type="text" id="code" name="code" placeholder="0">
					<label for="image"><small>Избражение</small></label>
					<input type="file" id="image" name="image" accept="image/*">
					{% csrf_token %}
				</div>
				<div class="add-form-section">
					<label for="description"><small>Описание</small></label>
					<textarea required type="text" id="description" name="desc_uz" placeholder="Uzbek"></textarea>
					<textarea required type="text" name="desc_ru" placeholder="Russian"></textarea>
					<textarea required type="text" name="desc_en" placeholder="English"></textarea>
				</div>
				<div class="add-form-section">
					<label for="discount"><small>Скидка</small></label>
					<input required type="number" id="discount" name="discount" step="any" placeholder="0.0">
					<label for="price"><small>Цена</small></label>
					<input required type="number" id="price" name="price" placeholder="0.0">
					<label for="time"><small>Время приготовления (в минутах)</small></label>
					<input required type="number" id="time" name="time" placeholder="0">
					<label for="category"><small>Категория</small></label>
					<select name="category" id="category">
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name.ru}}</option>
						{% endfor %}
					</select>
					<label for="available"><small>Доступность</small></label>
					<select name="available" id="available">
						<option value="true">Доступно</option>
						<option value="false">Не доступно</option>
					</select>
				</div>
				<div class="add-form-section">
					<button type="submit">Сохранить</button>
				</div>
			</form>
		</div>
		<button id="call-form-button" data-link="{% url 'add_product' %}"><i class="fas fa-plus"></i></button>
	{% elif show_add_category %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<img src="{% static 'spinner.svg' %}" id="loading">
			<form action="{% url 'add_category' %}" method="post" class="add-category-form">
				<div class="add-form-section">
					<label for="#name"><small>Название</small></label>
					<input required type="text" id="name" name="name_uz" placeholder="Uzbek">
					<input required type="text" name="name_ru" placeholder="Russian">
					<input required type="text" name="name_en" placeholder="English">
					<div id="subcat">
						<input type="checkbox" id="subcategory" name="subcategory" onchange="showParentSelector(this)">
						<label for="subcategory"><small>Подкатегория</small></label>
					</div>
					<select name="parent" id="parent" name="parent">
						{% for category in categories %}
							{% if 'parentCategoryId' not in category %}
								<option value="{{category.id}}">{{category.name.ru}}</option>
							{% endif %}
						{% endfor %}
					</select>
					<button type="submit">Сохранить</button>
					{% csrf_token %}
				</div>
			</form>
		</div>

		<div class="add-form" id="subcategory-panel">
			<div class="add-form-cover" id="panel-cover"></div>
			<div class="subcategories">
				<img src="{% static 'spinner.svg' %}" id="spinner">
				<table id="subcategory-table"></table>
			</div>
		</div>

		<button id="call-form-button" data-link="{% url 'add_category' %}"><i class="fas fa-plus"></i></button>
	{% elif show_add_branch %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<form action="{% url 'add_branch' %}" method="post" class="add-branch-form" enctype="multipart/form-data">
				<div class="add-form-section">
					<label for="address">Адрес</label>
					<input type="text" id="address" name="address_name" placeholder="Название">
					<input type="text" name="district" placeholder="Район">
					<input type="text" name="street" placeholder="Улица">
					<input type="number" step="any" name="latitude" placeholder="(0.0) Широта">
					<input type="number" step="any" name="longitude" placeholder="(0.0) Долгота">
				</div>
				<div class="add-form-section">
					<label for="name"><small>Информация</small></label>
					<input required type="text" id="name" name="name_uz" placeholder="Uzbek">
					<input required type="text" name="name_ru" placeholder="Русский">
					<input required type="text" name="name_en" placeholder="English">
				</div>
				<div class="add-form-section">
					<label for="phone"><small>Контакты</small></label>
					<input required type="text" id="phone" name="phone" placeholder="998xxxxxxxxx">
					<label for="capacity"><small>Вместимость</small></label>
					<input required type="text" id="capacity" name="capacity" placeholder="0">
					<label for="target"><small>Ориентир</small></label>
					<input required type="text" id="target" name="target" placeholder="Ориентир">
					<label for="image"><small>Изображение</small></label>
					<input type="file" id="image" name="image" accept="image/*">
					<button type="submit">Сохранить</button>
					{% csrf_token %}
				</div>
			</form>
		</div>
		<button id="call-form-button" data-link="{% url 'add_branch' %}"><i class="fas fa-plus"></i></button>
	{% endif %}
		<div class="wrap">
			<div class="sidebar">
				<div class="sidemenu">
					<img src="{% static 'moti.svg' %}" alt="logo">
					<ul>
						<li><a href="{% url 'home' %}"><i class="fal fa-home"></i></a></li>
						{% if 'MANAGER' in request.session.roles %}
						<li><a href="{% url 'charts' %}"><i class="fal fa-chart-line-up"></i></a></li>
						<li><a href="{% url 'products' %}"><i class="fal fa-cart-shopping"></i></a></li>
						<li><a href="{% url 'categories' %}"><i class="fal fa-list-timeline"></i></a></li>
						<li><a href="{% url 'fees' %}"><i class="fal fa-road"></i></a></li>
						<li><a href="{% url 'branches' %}"><i class="fal fa-shop"></i></a></li>
						<li><a href="{% url 'adverts' %}"><i class="fal fa-rectangle-ad"></i></a></li>
						<li><a href="{% url 'users' %}"><i class="fal fa-users"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="navbar">
					<form action="">
						<input type="text" placeholder="Поиск">
						<button><i class="fal fa-search"></i></button>
					</form>
					<a href="{% url 'logout' %}"><i class="fal fa-arrow-right-from-bracket"></i></a>
					{% if 'MANAGER' in request.session.roles %}
					<a href="javascript:" onclick="showChangePassword()" id="initiator"><i class="fal fa-lock"></i></a>
					{% endif %}
				</div>
				<div class="board">
					{% if show_add_product %}
						{% for product in products %}
							<div class="order">
								<div class="order-body">
									<img src="{{product.imageUrl}}" alt="{{product.productName.ru.text}}">
									<strong>{{product.name.ru}}</strong>
									<p><i class="fal fa-list-timeline"></i>&ensp;{{product.categoryId}}</p>
									<p><i class="fal fa-circle-dollar"></i>&ensp;{{product.price}} сум</p>
									<p><i class="fal fa-receipt"></i>&ensp;{{product.discount}}</p>
									<p><i class="fal fa-clock"></i>&ensp;{{product.readyTime}}</p>
									<p><i class="fal fa-hashtag"></i>&ensp;{{product.id}}</p>
									<p class="available-{{product.available}}"><i class="fal fa-pot-food"></i>&ensp;{{product.available | available}}</p>
								</div>
								<div class="order-actions">
									<a href="{% url 'delete_product' product.id %}"><small><i class="fal fa-trash"></i>&ensp;Удалить</small></a>
									<a onclick="editProduct(this, `{% url 'update_product' product.id %}`, {{forloop.counter}})" href="javascript:void(0);"><small><i class="fal fa-pen-to-square"></i>&ensp;Изменить</small></a>
								</div>
							</div>
						{% endfor %}
					{% elif show_add_category %}
						{% for category in categories %}
							{% if 'parentCategoryId' not in category %}
							<div class="order">
								<div class="order-body">
									<strong><button onclick="showChildren(`{{request.session.token}}`, this)" data-id="{{category.id}}"><i class="fal fa-list-timeline"></i></button>id: {{category.id}}</strong>
									<p><b>Uz:</b>&ensp;<span class="card-name-uz">{{category.name.uz}}</span></p>
									<p><b>Ru:</b>&ensp;<span class="card-name-ru">{{category.name.ru}}</span></p>
									<p><b>En:</b>&ensp;<span class="card-name-en">{{category.name.en}}</span></p>
								</div>
								<div class="order-actions">
									<a href="{% url 'delete_category' category.id %}"><small><i class="fal fa-trash"></i>&ensp;Удалить</small></a>
									<a href="javascript:void(0);" onclick="editCategory(this, `{% url 'update_category' category.id %}`)"><small><i class="fal fa-pen-to-square"></i>&ensp;Изменить</small></a>
								</div>
							</div>
							{% endif %}
						{% endfor %}
					{% elif show_add_branch %}
						{% for branch in branches %}
							<div class="order">
								<div class="order-body">
									<img src="{{branch.imageUrl}}">
									<small>Ru:&ensp;<b id="branch-name-ru">{{branch.information.ru}}</b></small><br>
									<p><i class="fal fa-hashtag"></i>&ensp;<small id="branch-id">{{branch.id}}</small></p>
									<p><i class="fal fa-location-dot"></i>&ensp;<small id="branch-address-name">{{branch.address.name}}</small></p>
									<p><i class="fal fa-phone"></i>&ensp;<small id="branch-phone">{{branch.contacts}}</small></p>
									<p><i class="fal fa-people"></i>&ensp;<small id="branch-capacity">{{branch.capacity}}</small></p>
									<p><i class="fal fa-circle-info"></i>&ensp;<small id="branch-target">{{branch.target}}</small></p>

									<i id="branch-name-uz" style="display: none;">{{branch.information.uz}}</i>
									<i id="branch-name-en" style="display: none;">{{branch.information.en}}</i>
									<i id="branch-address-district" style="display: none;">{{branch.address.district}}</i>
									<i id="branch-address-street" style="display: none;">{{branch.address.street}}</i>
									<i id="branch-address-latitude" style="display: none;">{{branch.address.latitude}}</i>
									<i id="branch-address-longitude" style="display: none;">{{branch.address.longitude}}</i>
								</div>
								<div class="order-actions">
									<a href="{% url 'delete_branch' branch.id %}"><small><i class="fal fa-trash"></i>&ensp;Удалить</small></a>
									<a href="javascript:void(0);" onclick="editBranch(this, `{% url 'update_branch' branch.id %}`)"><small><i class="fal fa-pen-to-square"></i>&ensp;Изменить</small></a>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p><small>Товаров доступно: 0</small></p>
					{% endif %}
				</div>
			</div>
		</div>

		<script src="{% static 'script.js' %}"></script>
		<script>
			products = {{products|format_data|safe}}
		</script>
{% endblock %}