{% extends 'home.html' %}
{% load static %}
{% load filters %}
{% block content %}
	{% if show_add_product %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<form action="{% url 'add_product' %}" method="post" class="add-product-form" enctype="multipart/form-data">
				<div class="add-form-section">
					<label for="name"><small>Product Name</small></label>
					<input required type="text" id="name" name="name_uz" placeholder="Uzbek">
					<input required type="text" name="name_ru" placeholder="Russian">
					<input required type="text" name="name_en" placeholder="English">
					<label for="code"><small>Code</small></label>
					<input required type="text" id="code" name="code" placeholder="0">
					<label for="image"><small>Product Image</small></label>
					<input type="file" id="image" name="image" accept="image/*">
					{% csrf_token %}
				</div>
				<div class="add-form-section">
					<label for="description"><small>Description</small></label>
					<textarea required type="text" id="description" name="desc_uz" placeholder="Uzbek"></textarea>
					<textarea required type="text" name="desc_ru" placeholder="Russian"></textarea>
					<textarea required type="text" name="desc_en" placeholder="English"></textarea>
				</div>
				<div class="add-form-section">
					<label for="discount"><small>Discount</small></label>
					<input required type="number" id="discount" name="discount" step="any" placeholder="0.0">
					<label for="price"><small>Price</small></label>
					<input required type="number" id="price" name="price" placeholder="0.0">
					<label for="time"><small>Preparing Time (in minutes)</small></label>
					<input required type="number" id="time" name="time" placeholder="0">
					<label for="category"><small>Category</small></label>
					<select name="category" id="category">
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name.ru}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="add-form-section">
					<button type="submit">Save</button>
				</div>
			</form>
		</div>
		<button id="call-form-button" data-link="{% url 'add_product' %}"><i class="fas fa-plus"></i></button>
	{% elif show_add_category %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<img src="{% static 'spinner.svg' %}" id="loading">
			<form action="{% url 'add_category' %}" method="post" class="add-category-form">
				<div class="add-form-section">
					<label for="#name"><small>Category Name</small></label>
					<input required type="text" id="name" name="name_uz" placeholder="Uzbek">
					<input required type="text" name="name_ru" placeholder="Russian">
					<input required type="text" name="name_en" placeholder="English">
					<div id="subcat">
						<input type="checkbox" id="subcategory" name="subcategory" onchange="showParentSelector(this)">
						<label for="subcategory"><small>Subcategory</small></label>
					</div>
					<select name="parent" id="parent" name="parent">
						{% for category in categories %}
							{% if 'parentCategoryId' not in category %}
								<option value="{{category.id}}">{{category.name.en}}</option>
							{% endif %}
						{% endfor %}
					</select>
					<button type="submit">Save</button>
					{% csrf_token %}
				</div>
			</form>
		</div>

		<div class="add-form" id="subcategory-panel">
			<div class="add-form-cover" id="panel-cover"></div>
			<div class="subcategories">
				<img src="{% static 'spinner.svg' %}" id="spinner">
				<table id="subcategory-table"></table>
			</div>
		</div>

		<button id="call-form-button" data-link="{% url 'add_category' %}"><i class="fas fa-plus"></i></button>
	{% elif show_add_branch %}
		<div class="add-form" id="add-form">
			<div class="add-form-cover"></div>
			<form action="{% url 'add_branch' %}" method="post" class="add-branch-form" enctype="multipart/form-data">
				<div class="add-form-section">
					<label for="address">Branch Address</label>
					<input type="text" id="address" name="address_name" placeholder="Name">
					<input type="text" name="district" placeholder="District">
					<input type="text" name="street" placeholder="Street">
					<input type="number" step="any" name="latitude" placeholder="(0.0) Latitude">
					<input type="number" step="any" name="longitude" placeholder="(0.0) Longitude">
				</div>
				<div class="add-form-section">
					<label for="name"><small>Branch Information</small></label>
					<input required type="text" id="name" name="name_uz" placeholder="Uzbek">
					<input required type="text" name="name_ru" placeholder="Russian">
					<input required type="text" name="name_en" placeholder="English">
				</div>
				<div class="add-form-section">
					<label for="phone"><small>Contacts</small></label>
					<input required type="text" id="phone" name="phone" placeholder="998xxxxxxxxx">
					<label for="capacity"><small>Capacity</small></label>
					<input required type="text" id="capacity" name="capacity" placeholder="0">
					<label for="target"><small>Target</small></label>
					<input required type="text" id="target" name="target" placeholder="Target">
					<label for="image"><small>Image</small></label>
					<input type="file" id="image" name="image" accept="image/*">
					<button type="submit">Save</button>
					{% csrf_token %}
				</div>
			</form>
		</div>
		<button id="call-form-button" data-link="{% url 'add_branch' %}"><i class="fas fa-plus"></i></button>
	{% endif %}
		<div class="wrap">
			<div class="sidebar">
				<div class="sidemenu">
					<img src="{% static 'moti.svg' %}" alt="logo">
					<ul>
						<li><a href="{% url 'home' %}"><i class="fal fa-home"></i></a></li>
						<li><a href="{% url 'charts' %}"><i class="fal fa-chart-line-up"></i></a></li>
						<li><a href="{% url 'products' %}"><i class="fal fa-cart-shopping"></i></a></li>
						<li><a href="{% url 'categories' %}"><i class="fal fa-list-timeline"></i></a></li>
						<li><a href="{% url 'fees' %}"><i class="fal fa-road"></i></a></li>
						<li><a href="{% url 'branches' %}"><i class="fal fa-shop"></i></a></li>
						{% if 'MANAGER' in request.session.roles %}
						<li><a href="{% url 'users' %}"><i class="fal fa-users"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="navbar">
					<form action="">
						<input type="text" placeholder="Search">
						<button><i class="fal fa-search"></i></button>
					</form>
					<a href="{% url 'logout' %}"><i class="fal fa-arrow-right-from-bracket"></i></a>
				</div>
				<div class="board">
					{% if show_add_product %}
						{% for product in products %}
							<div class="order">
								<div class="order-body">
									<img src="{{product.imageUrl}}" alt="{{product.productName.ru.text}}">
									<strong>{{product.name.ru}}</strong>
									<p><i class="fal fa-list-timeline"></i>&ensp;{{product.categoryId}}</p>
									<p><i class="fal fa-circle-dollar"></i>&ensp;{{product.price}} sum</p>
									<p><i class="fal fa-receipt"></i>&ensp;{{product.discount}}</p>
									<p><i class="fal fa-clock"></i>&ensp;{{product.readyTime}}</p>
									<p><i class="fal fa-hashtag"></i>&ensp;{{product.id}}</p>
									<p><small>{{product.description.ru}} </small></p>
								</div>
								<div class="order-actions">
									<a href="{% url 'delete_product' product.id %}"><small><i class="fal fa-trash"></i>&ensp;Remove</small></a>
									<a onclick="editProduct(this, `{% url 'update_product' product.id %}`, {{forloop.counter}})" href="javascript:void(0);"><small><i class="fal fa-pen-to-square"></i>&ensp;Edit</small></a>
								</div>
							</div>
						{% endfor %}
					{% elif show_add_category %}
						{% for category in categories %}
							{% if 'parentCategoryId' not in category %}
							<div class="order">
								<div class="order-body">
									<strong><button onclick="showChildren(`{{request.session.token}}`, this)" data-id="{{category.id}}"><i class="fal fa-list-timeline"></i></button>id: {{category.id}}</strong>
									<p><b>Uz:</b>&ensp;<span class="card-name-uz">{{category.name.uz}}</span></p>
									<p><b>Ru:</b>&ensp;<span class="card-name-ru">{{category.name.ru}}</span></p>
									<p><b>En:</b>&ensp;<span class="card-name-en">{{category.name.en}}</span></p>
								</div>
								<div class="order-actions">
									<a href="{% url 'delete_category' category.id %}"><small><i class="fal fa-trash"></i>&ensp;Remove</small></a>
									<a href="javascript:void(0);" onclick="editCategory(this, `{% url 'update_category' category.id %}`)"><small><i class="fal fa-pen-to-square"></i>&ensp;Edit</small></a>
								</div>
							</div>
							{% endif %}
						{% endfor %}
					{% elif show_add_branch %}
						{% for branch in branches %}
							<div class="order">
								<div class="order-body">
									<img src="{{branch.imageUrl}}">
									<small>Ru:&ensp;<b id="branch-name-ru">{{branch.information.ru}}</b></small><br>
									<p><i class="fal fa-hashtag"></i>&ensp;<small id="branch-id">{{branch.id}}</small></p>
									<p><i class="fal fa-location-dot"></i>&ensp;<small id="branch-address-name">{{branch.address.name}}</small></p>
									<p><i class="fal fa-phone"></i>&ensp;<small id="branch-phone">{{branch.contacts}}</small></p>
									<p><i class="fal fa-people"></i>&ensp;<small id="branch-capacity">{{branch.capacity}}</small></p>
									<p><i class="fal fa-circle-info"></i>&ensp;<small id="branch-target">{{branch.target}}</small></p>

									<i id="branch-name-uz" style="display: none;">{{branch.information.uz}}</i>
									<i id="branch-name-en" style="display: none;">{{branch.information.en}}</i>
									<i id="branch-address-district" style="display: none;">{{branch.address.district}}</i>
									<i id="branch-address-street" style="display: none;">{{branch.address.street}}</i>
									<i id="branch-address-latitude" style="display: none;">{{branch.address.latitude}}</i>
									<i id="branch-address-longitude" style="display: none;">{{branch.address.longitude}}</i>
								</div>
								<div class="order-actions">
									<a href="{% url 'delete_branch' branch.id %}"><small><i class="fal fa-trash"></i>&ensp;Remove</small></a>
									<a href="javascript:void(0);" onclick="editBranch(this, `{% url 'update_branch' branch.id %}`)"><small><i class="fal fa-pen-to-square"></i>&ensp;Edit</small></a>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p><small>0 items are available</small></p>
					{% endif %}
				</div>
			</div>
		</div>

		<script src="{% static 'script.js' %}"></script>
		<script>
			products = {{products|format_data|safe}}
		</script>
{% endblock %}